@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: "Manrope", sans-serif;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.navbar-container {
	width: 100vw;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-block: 0.1rem;
	background-color: #27283e;
	padding-inline: 8rem;
	position: sticky;
	top: 0;
	z-index: 10;
}

header {
	display: inline;
}

.navbar-container .logo {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbar-container .logo a {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.navbar-container .logo h2 {
	font-weight: bolder;
	margin-inline-start: 10px;
	color: white;
}

.navbar-container .logo img {
	height: 30px;
}

.navbar-container nav ul {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.navbar-container nav li {
	font-size: 1.1rem;
	list-style-type: none;
}

nav a {
	text-decoration: none;
	color: white;
}

.active {
	color: #353652;
	background-color: white;
	padding: 0.5rem;
	padding-inline: 1rem;
	border-radius: 50px;
	font-weight: bold;
	transition: all 0.2s ease-in-out;
}

.jumbotron {
	padding-inline: 15rem;
	height: 100vh;
	margin-top: -2rem;
	background-color: #353652;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4rem;
}

.jumbotron h1 {
	font-size: 3rem;
	display: inline;
}

.jumbotron p {
	font-size: 1.3rem;
}

#skills {
	background-color: #3c3d58;
	padding-top: 3rem;
	padding-bottom: 5rem;
}

article h2 {
	text-align: center;
	font-size: 2rem;
	font-weight: 800;
	color: white;
}

#skills section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5rem;
	width: 100%;
	padding-inline: 5rem;
}

.skill-card {
	background-color: white;
	padding: 1rem;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.4rem;
	transition: all 0.1s ease-in-out;
	box-shadow: 0 1px 2px rgba(113, 113, 113, 0.07),
		0 2px 4px rgba(113, 113, 113, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
		0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
		0 32px 64px rgba(0, 0, 0, 0.07);
}

.skill-card:hover {
	background-color: #595b83;
}

.skill-card p {
	text-align: center;
}

.skill-logo {
	height: 6rem;
	margin-bottom: 0.5rem;
}

#explore {
	background-color: #353652;
	padding-block: 3rem;
	padding-bottom: 5rem;
}

.explore-img {
	width: 35rem;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

#explore section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.explore-card {
	text-align: center;
	max-width: 35rem;
	background-color: white;
	border-radius: 8px;
	background-color: rgb(89, 91, 131);
	color: white;
}

.explore-card p {
	margin-inline: 1rem;
}

.btn {
	display: block;
	text-decoration: none;
	color: white;
	padding-inline: 1rem;
	padding-block: 0.6rem;
	font-weight: bold;
	background-color: rgb(193, 35, 64);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	transition: all 0.1s ease-in;
}

.btn:hover {
	background-color: #3c3d58;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #27283e;
	color: white;
	padding-inline: 4rem;
}

footer i {
	color: rgb(193, 35, 64);
}

footer a {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

aside {
	display: flex;
	position: fixed;
	inset-block: 0;
	inset-inline-end: 0;
	z-index: 5;
}

.aside-container {
	display: flex;
	background-color: #27283e;
	margin: auto;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

aside .social-media {
	height: 100%;
	display: flex;
}

aside .social-media ul {
	padding: 0.5rem 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

aside .social-media ul li {
	list-style-type: none;
}

aside .social-media li a {
	text-decoration: none;
	font-size: 1.5rem;
	color: white;
	transition: all 0.1s ease-in;
}

aside .social-media li a:hover {
	color: #595b83;
}

.aside-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-right: 0.9rem;
}

.aside-img .box {
	top: -10px;
	position: relative;
	z-index: 1;
	background-color: rgba(193, 35, 64, 0.8);
	height: 30px;
	width: 180px;
	border-radius: 10px;
	text-align: center;
	font-size: 1rem;
	font-weight: bolder;
}

.aside-img .box span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}

.aside-img img {
	height: 200px;
}

#toggle {
	font-size: 2rem;
	color: white;
	transition: all 0.1s ease-in;
	align-self: center;
	background-color: #27283e;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	cursor: pointer;
}

#toggle:hover {
	color: rgba(193, 35, 64, 0.8);
}

.display-none {
	display: none;
}

@media screen and (max-width: 1200px) {
	.explore-img {
		width: 30rem;
	}

	.explore-card {
		max-width: 30rem;
	}
}

@media screen and (max-width: 768px) {
	.jumbotron {
		padding-top: 4rem;
		padding-inline: 15rem;
		flex-wrap: wrap;
		gap: 0.5rem;
		text-align: center;
	}

	.aside-img img {
		height: 120px;
	}

	.jumbotron h1 {
		font-size: 2rem;
	}

	.jumbotron p {
		font-size: 1rem;
		width: 30rem;
	}

	.row {
		flex-direction: column;
		padding-bottom: 3.5rem;
	}

	aside .social-media li a {
		font-size: 1rem;
	}

	.aside-img .box {
		height: 20px;
		width: 120px;
		font-size: 0.65rem;
		border-radius: 5px;
	}

	aside .social-media ul {
		gap: 1rem;
	}

	#toggle {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 480px) {
	.navbar-container {
		justify-content: center;
		flex-wrap: wrap;
		padding-inline: 0.9rem;
	}

	.jumbotron p {
		font-size: 0.8rem;
		width: 20rem;
	}

	.navbar-container .logo img {
		height: 20px;
	}

	.navbar-container nav li {
		font-size: 1rem;
	}

	.explore-img {
		width: 25rem;
	}

	.explore-card {
		max-width: 25rem;
	}

	footer {
		flex-wrap: wrap;
		justify-content: center;
		padding-inline: 2rem;
		padding-bottom: 1rem;
	}

	footer p {
		margin-bottom: -0.6rem;
	}

	aside .social-media ul {
		padding: 1rem 0.8rem;
		gap: 0.9rem;
	}

	aside .social-media li a {
		font-size: 0.9rem;
	}
}
